@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #DDDDDD;
  text-align: center;
}

h2 { text-align: center}


/* input boxes */
input[type=text], input[type=password] {
    width: 30%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #222831;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }

/* header and nav */
header {
    flex: 0 1 3rem;

    padding: 10px;

    display: flex;
    align-items: center;

    color: #edf5e1;
    background-color: #222831;
}

.logo {
    display: flex;
    gap: 10px;
    border: none;
}

.logo i {
    font-size: 32px;
    line-height: 1.2;
    color: #F05454;
}

.logo h1 {
    margin: 0;
}

header nav {
    margin-left: auto !important;
}

nav {
    display: flex;
    gap: 10px;
}

header a {
    position: relative;
    margin: auto 0;
    padding: 5px;
    color: inherit;
    text-decoration: none;
}

nav > a:hover {
    transition: color .3s ease;
    color: #F05454;
}

nav > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    transform: scaleX(0);
    border-bottom: 2px solid #F05454;
    transition: transform .3s ease;
}

nav > a:hover::before {
    transform: scaleX(1);
}  

footer {
    flex: 0 1 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #edf5e1;
    background-color: #222831;
}

.error {
    width: 100%;
    padding: 1px 5px;

    border-radius: 10px;

    background-color: #FF5D73;
    color: #ffffff;

    text-align: center;
}